<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <img style="width:100%" src="https://lh4.googleusercontent.com/3sRpVTjW_qDFMb6O3jqBkRXnZCF4R4LeFZ1bkkn2rbQ8EsTGPmfVTR_3IU-0Exv2UYFuGHUjGcQ8NuIUiu_n=w1920-h974-rw">
        <div class="w3-container">
      <h1>Hello my name is {{ name }}</h1>
            <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I love cats</article>
            <article>My Hobby is reading</article>
            
    </div>

   <div class="w3-container w3-teal">
  <p>Under Construction</p>
</div>



</body>
</html>
